<mat-nav-list>
    <div class="logo py-4">
        <h4>Logo</h4>
    </div>
    <!-- <h4 class="mt-2">setting</h4> -->

    <a mat-list-item routerLink="/dashboard" 
    routerLinkActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard</a>
 
    <a mat-list-item routerLink=""><mat-icon>perm_identity</mat-icon>Lead</a>
    <a mat-list-item><mat-icon>description</mat-icon>Offer</a>
    <a mat-list-item><mat-icon>face</mat-icon>Customer</a>
    <a mat-list-item routerLink="/Invoice"><mat-icon>receipt</mat-icon>Invoice</a>
    <a mat-list-item><mat-icon>pageview</mat-icon>Quote</a>
    <a mat-list-item><mat-icon>payment</mat-icon>Payment</a>
    <a mat-list-item><mat-icon>account_box</mat-icon>Employee</a>
    <a mat-list-item> <mat-icon>supervised_user_circle</mat-icon> Admin</a>
    <a mat-list-item> <mat-icon>settings_applications</mat-icon> Setting</a>

</mat-nav-list>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
